.side-panel {
  /* width: 300px;s */
  background-color: #222;
  transition: 0.5s;
  position: relative;
}
.side-panel-toggle-button {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.side-panel.open {
  min-width: 300px;
  max-width: 300px;
}

.side-panel.close {
  min-width: 50px;
  max-width: 50px;
}
