.list-section {
  /* display: flex; */
  /* padding: 5px 10px; */
  overflow-y: hidden;
  overflow-x: auto;
  flex: 1;
}

.board-name-heading {
  background-color: rgb(68, 67, 67);
  margin-bottom: 5px;
  color: white;
  border-bottom: 2px solid rgb(167, 167, 167);
}

.list-wrapper {
  display: inline-block;
  min-width: 272px;
  max-width: 272px;
  height: 100%;
  margin: 5px 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  padding: 5px;
  border-radius: 3px;
}

.list-heading-section {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;
}

.list-heading-section > h5 {
  margin: 3.5px;
  letter-spacing: -0.02rem;
  font-size: 1.1rem;
}

.list-archive-button {
  /* background-image: url("./../../assets/images/folder.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px; */
  opacity: 0;
  transition: 0.25s;
}

.list-container:hover .list-archive-button {
  opacity: 1;
}

.custom-addCard-button {
  margin-top: 5px;
  width: 50%;
  text-align: left;
  color: #637188;
}

.custom-addCard-button:hover {
  background-color: #d9dce2;
  color: black;
}

.list-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  background-color: #ffffff;
  box-shadow: 0px 1px grey;
  border-radius: 3px;
  margin: 6px 0;
  width: 100%;
}

.list-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border-radius: 3px;
  margin: 6px 0;
  width: 100%;
  text-align: left;
}

.card-delete-button {
  opacity: 0;
  transition: 0.25s;
}

.list-card-container:hover .card-delete-button {
  opacity: 1;
}

.list-card:hover {
  background-color: rgb(243, 243, 243);
}

input[type="text"].list-card {
  height: 3rem;
}

.modal-container {
  min-height: 30vh;
  /* width: 50vw; */
  display: flex;
}

.modal-left-section {
  min-height: 30vh;
  width: 65%;
}
.modal-right-section {
  min-height: 30vh;
  width: 35%;
  padding: 5px 0px 5px 10px;
  /* border-radius: 5px; */
  border-left: 1px solid grey;
}

.add-checklist-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.add-checklist-button {
  width: 100%;
}
