.create-new-board {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

.boards-top-section-container {
  height: 170px;
  background-color: rgb(63, 63, 63);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards-top-section-container > h1 {
  font-size: 3.5rem;
}

.board-container {
  width: 33%;
  height: 175px;
  padding: 10px;
}

.board {
  /* background-color: orange; */
  background-color: rgba(0, 0, 0, 0.527);
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 2s;
}

.board:hover,
.board:hover > h3 {
  background-size: 110%;
  color: white;
}

.board > h3 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  color: rgb(185, 184, 184);
  text-align: center;
}
